<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.triyoka.anon">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anon"
        tools:targetApi="31">
        <activity
            android:name=".Cybercrime"
            android:exported="false" />
        <activity
            android:name=".Robbery"
            android:exported="false" />
        <activity
            android:name=".Rape"
            android:exported="false" />
        <activity
            android:name=".Kidnapping"
            android:exported="false" />
        <activity
            android:name=".Murder"
            android:exported="false" />
        <activity
            android:name=".Questionnaire2"
            android:exported="false" />
        <activity
            android:name=".tipoffdetails"
            android:exported="false" />
        <activity
            android:name=".tipofflikedby"
            android:exported="false" />
        <activity
            android:name=".tipoffrow"
            android:exported="false" />
        <activity
            android:name="AddtipoffActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>